{% extends 'base.html.twig' %}

{% block title %}Enregistrer un prêt{% endblock %}
{% block button %}
    <a href="{{ path('app_pret_index') }}" class="btn btn-outline-primary">Retour à la liste</a>
{% endblock %}

{% block body %}


    {{ include('pret/_form.html.twig') }}


{% endblock %}
