{% extends 'base.html.twig' %}

{% block title %}Edit ApproAgence{% endblock %}

{% block body %}
    <h1>Edit ApproAgence</h1>

    {{ include('appro_agence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appro_agence_index') }}">back to list</a>

    {{ include('appro_agence/_delete_form.html.twig') }}
{% endblock %}
