<div class="operation-group" id="group-DÉPÔT" style="display:none;">
    <h5 class="mt-4">Détails du Dépôt</h5>
    <div class="mb-3">
        <label for="depot-deviseSource" class="form-label">Devise du dépôt</label>
        <select class="form-select" id="depot-deviseSource" name="deviseSource">
            {% for devise in devises %}<option value="{{ devise.id }}">{{ devise.codeIso }}</option>{% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="depot-montantSource" class="form-label">Montant à déposer</label>
        <input type="number" step="0.001" class="form-control" id="depot-montantSource" name="montantSource">
    </div>
</div>
