

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="achat-deviseSource" class="form-label">Devise apportée par client</label>
            <select class="form-select" id="achat-deviseSource" name="deviseSource">
                {% for devise in devises %}<option value="{{ devise.id }}">{{ devise.codeIso }}</option>{% endfor %}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="achat-montantSource" class="form-label">Montant apporté</label>
            <input type="number" step="0.001" class="form-control" id="achat-montantSource" name="montantSource">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="achat-deviseCible" class="form-label">Devise souhaitée</label>
            <select class="form-select" id="achat-deviseCible" name="deviseCible">
                {% for devise in devises %}<option value="{{ devise.id }}">{{ devise.codeIso }}</option>{% endfor %}
            </select>
        </div>
        <div class="col-md-4 mb-3">
            <label for="achat-taux" class="form-label">Taux appliqué</label>
            <input type="number" step="0.000001" class="form-control" id="achat-taux" name="taux">
        </div>
        <div class="col-md-4 mb-3">
            <label for="achat-montantCible" class="form-label">Montant à remettre</label>
            <input type="number" step="0.001" class="form-control" id="achat-montantCible" name="montantCible" readonly>
        </div>
    </div>
