{% extends 'base.html.twig' %}

{% block title %}New ApproCompteGeneral{% endblock %}

{% block body %}
    <h1>Create new ApproCompteGeneral</h1>

    {{ include('appro_compte_general/_form.html.twig') }}

    <a href="{{ path('app_appro_compte_general_index') }}">back to list</a>
{% endblock %}
