{% extends "emails/_base_email.html.twig" %}
  {% block title %}
      Code de vérification
  {% endblock %}

{% block page_title %}Code de vérification{% endblock %}
{% block description %}Un code de vérification vous a été envoyé par email. Veuillez le saisir pour continuer.{% endblock %}

{% block body %}

            <tr>
                <td class="content-wrap" style="color: #495057; font-size: 14px; box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03); border-radius: 7px; background-color: #fff;">
                    <table width="100%">
                        <tr>
                            <td style="padding-bottom: 20px;">
                                Bonjour,
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 20px;">
                                Voici votre code de vérification pour finaliser votre connexion :
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; padding: 20px 0;">
                                <h1 style="font-size: 32px; margin: 0;">{{ code }}</h1>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 20px;">
                                Ce code est valable pendant quelques minutes.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
{% endblock %}
