{% extends 'base.html.twig' %}

{% block title %}Ajout d'un compte{% endblock %}
{% block button %}
    <a href="{{ path('app_compte_agence_index') }}" class="btn btn-outline-primary">Retour</a>

{% endblock %}

{% block body %}


    {{ include('compte_agence/_form.html.twig') }}

{% endblock %}
