{% extends 'base.html.twig' %}

{% block title %}Edit ProfilClient{% endblock %}

{% block body %}
    <h1>Edit ProfilClient</h1>

    {{ include('profil_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_client_index') }}">back to list</a>

    {{ include('profil_client/_delete_form.html.twig') }}
{% endblock %}
