{% extends 'base.html.twig' %}

{% block title %}New ProfilClient{% endblock %}

{% block body %}
    <h1>Create new ProfilClient</h1>

    {{ include('profil_client/_form.html.twig') }}

    <a href="{{ path('app_profil_client_index') }}">back to list</a>
{% endblock %}
