{% extends 'base.html.twig' %}

{% block title %}Liste des devises{% endblock %}
{% block button %}
    <a href="{{ path('app_devise_new') }}" class="btn btn-outline-primary">Nouvel</a>
{% endblock %}
{% block breadcrumb %}Devise{% endblock %}
{% block body %}

{% endblock %}
