<div class="widget-list row">

    <!-- /.widget-holder -->
    <div class="widget-holder widget-full-content widget-full-height col-lg-12">
        <div class="widget-bg">

            <!-- .widget-heading -->
            <div class="widget-body">
                <div class="container-fluid pd-20">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="pos-relative" style="height: 200px">
                                <canvas id="chartJsDoughnutLegend"></canvas><span class="h6 fw-600 text-muted fs-13 text-uppercase m-0 absolute-center">Referral</span>
                            </div>
                            <!-- /.something -->
                            <div class="counter-info heading-font-family text-center mt-3 mb-3 fs-13"><span class="color-success"><i class="fa fa-arrow-circle-o-up"></i> <strong>34%</strong> </span>more than last week</div>
                            <!-- /.counter-info -->
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-sm-6">
                            <h5 class="h2 fw-semibold mt-0">58.3%</h5>
                            <div class="progress w-50 mb-3">
                                <div class="progress-bar bg-info" style="background: linear-gradient(to right, #17bff0, #8be0f9); width: 58.3%" role="progressbar"><span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                            <!-- /.progress -->
                            <p class="heading-font-family fs-13">of the people who viewed the
                                <br>labels converted into clients.</p>
                            <div class="row">
                                <div class="col-6">
                                    <p class="heading-font-family fs-13 mb-3"><i class="fa fa-square mr-2 mr-0-rtl ml-2-rtl" style="color: #4671bd"></i> Google</p>
                                    <p class="heading-font-family fs-13 mb-3"><i class="fa fa-square mr-2 mr-0-rtl ml-2-rtl" style="color: #199bfc"></i> Facebook</p>
                                </div>
                                <!-- /.col-6 -->
                                <div class="col-6">
                                    <p class="heading-font-family fs-13 mb-3"><i class="fa fa-square mr-2 mr-0-rtl ml-2-rtl" style="color: #54c273"></i> Youtube</p>
                                    <p class="heading-font-family fs-13 mb-3"><i class="fa fa-square mr-2 mr-0-rtl ml-2-rtl" style="color: #25d7fb"></i> Twitter</p>
                                </div>
                                <!-- /.col-6 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
    <!-- /.widget-holder -->
</div>
