<form method="post" action="{{ path('app_affectation_agence_delete', {'id': affectation_agence.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affectation_agence.id) }}">
    <button class="btn">Delete</button>
</form>
