{% extends 'base.html.twig' %}

{% block title %}New AffectationAgence{% endblock %}

{% block body %}
    <h1>Create new AffectationAgence</h1>

    {{ include('affectation_agence/_form.html.twig') }}

    <a href="{{ path('app_affectation_agence_index') }}">back to list</a>
{% endblock %}
