{% extends 'base.html.twig' %}

{% block title %}New AffectationCaisse{% endblock %}

{% block body %}
    <h1>Create new AffectationCaisse</h1>

    {{ include('affectation_caisse/_form.html.twig') }}

    <a href="{{ path('app_affectation_caisse_index') }}">back to list</a>
{% endblock %}
