{% extends 'base.html.twig' %}

{% block title %}Associer une caisse à votre caissier(e){% endblock %}
{% block button %}
    <a href="{{ path('app_affectation_caisse_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}

{% block body %}

    {{ include('affectation_caisse/_form.html.twig') }}


{% endblock %}
