{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau taux{% endblock %}
{% block button %}
    <a href="{{ path('app_taux_change_index') }}" class="btn btn-outline-primary">Retour</a>

{% endblock %}

{% block body %}


    {{ include('taux_change/_form.html.twig') }}

{% endblock %}
